:root
{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    background-color: whitesmoke;
}

body section#container
{
    background-color: beige;
    width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px 2px;
    padding: 2px;
    /* display: none;   */
}

body section#container aside
{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: black;
    display: none;
}

body section#container aside span
{
    display: inline-block;
    text-align: center;
    background-color: lightblue;
    font-size: 2.5rem;
    text-transform: uppercase;
}

body section#container aside span:first-child
{
    display: block;
}
body section#container aside span:nth-of-type(even)
{
    width: 50%;
}
body section#container aside span:last-child
{
    width: 50%;
    font-weight: bold;
    color: red;
}


body section#container div
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 184.5px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    background-color: #00000030;
    font-size: 4rem;
}
body section#container div:nth-of-type(odd)
{
    border-width: 1px 1px 1px 1rem ;
}
body section#container div:nth-of-type(odd).roll
{
    border-left-color: green ;
}
body section#container div:nth-of-type(odd).coin
{
    border-left-color: purple ;
}
body section#container div:nth-of-type(odd).cash
{
    border-left-color: blue ;
}

body section#container div input
{
    width: 90%;
    height: 90%;
    border: 1px dashed red;
    text-align: center;
    font-size: 4rem;
    cursor: grab;
}

body aside#total-container
{
    width: 375px;
    margin: 1rem auto;
    padding: 2px;
    background-color: #00000025;
}
body aside#total-container div
{
    border: 1px solid black;
    background-color: #ffffff50;
    width: 100%;
}

body aside#total-container div span
{
    font-size: 1.7rem;
    /* padding: 2px; */
    text-transform: uppercase;
    width: 33.33%;
    display: inline-block;
}

body aside#total-container div span:first-child
{
    text-align: left;
    padding: 2px;
}
body aside#total-container div span:nth-of-type(even).roll
{
    color: green;
}
body aside#total-container div span:nth-of-type(even).coin
{
    color: purple;
}
body aside#total-container div span:nth-of-type(even).cash
{
    color: red;
}