:root
{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    background-color: lightsalmon;
}

body section#container
{
    background-color: beige;
    width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px 2px;
    padding: 2px;
    /* display: none;   */
}

body section#container aside
{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: orange;
    display: none;
}

body section#container aside span
{
    display: inline-block;
    width: 33.33%;
    text-align: center;
    background-color: lightblue;
    font-size: 2.5rem;
}
body section#container div
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 184.5px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    background-color: #00000050;
    font-size: 4rem;
}
body section#container div:nth-of-type(odd)
{
    border-width: 1px 1px 1px 1rem ;
}
/* body section#container div:nth-of-type(even)
{
} */

body section#container div input
{
    width: 90%;
    height: 90%;
    border: 1px outset lightsalmon;
    text-align: center;
    font-size: 4rem;
    cursor: grab;
}

body aside#total-container
{
    width: 375px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px 2px;
    padding: 2px;
    background-color: #00000025;
}
body aside#total-container div
{
    border: 1px solid black;
    height: fit-content;
    background-color: #ffffff75;
}

body aside#total-container div span
{
    font-size: 1.7rem;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
}

body aside#total-container div span:nth-of-type(odd)
{
    float: left;
}
body aside#total-container div span:nth-of-type(even)
{
    float: right;
    padding-right: 1rem;
    color: black;
    font-weight: bold;
}