body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f5fb ;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border: 0px solid green;
}

#container {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: #f8fcfe ;
}

input {
    border: 1px dashed black;
    box-sizing: border-box;
    font-size: large;
    background-color: transparent;
    width: 90%;
    height: 90%;
    opacity: 1;
    text-align: center;
    cursor: grabbing;
    padding: 0px;
}

input:focus {
    background-color: white;
    color: black;
    opacity: 1;
}

input:hover {
    background-color: yellow;
}

.noBorder {
    border: 0px;
    color: black;
    background-color: transparent;
}

h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    background-color: rgb(112, 173, 71) ;
    border-bottom: 0px solid black;
    margin: 0px;
    padding: 2px 0px;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 30px;
    line-height: 30px;

}


table{
    width: 375px;
    background-color: white ;
    border: 0px solid green;
    padding: 0px;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

tr {
    border-bottom: 1px solid white;
    padding: 0px;
    height: 30px;
}

tr:nth-child(even){
    background-color: rgb(198, 224, 180);
}

tr:nth-child(odd){
    background-color: rgb(226, 239, 218);
}

th{
    padding: 0px;
    text-align: center;
    border-bottom: 2px solid white;

}

tr:last-child{
    border-bottom: 0px;
}

td {
    border: 0px solid black;
    height: 50px;
    width: 25%;
    text-align: center;
}

.borderSeperator {
    border-bottom: 3px double black;
}

.totalLine {
    text-align: right;
    color: black;
    font-variant: small-caps;
    font-size: x-large;

}

.bankLine{
    /* background-color: rgb(100, 170, 170); */
    text-align: right;
    font-variant: small-caps;
    
}

.loanLine{
    /* background-color: rgb(125, 170, 170); */
    text-align: right;
    font-variant: small-caps;

}

.depositLine {
    color: green;
    font-weight: bold;
    font-size: x-large;
    font-variant: small-caps;
    text-align: right;
}

.denomination {
    color: black;
    font-size: x-large;
}



.loanSign {
    color: red;
    text-align: right;
}

.alignRight {
    text-align: right;
}

#loanHtml {
    color: red;
    text-align: center;
}



#coinHtml, #rollHtml, #billHtml, #bankHtml {
    text-align: left;
    font-size: large;
    font-weight: bold;
}

#dateHtml {
    color: #101820FF;
    font-variant: small-caps;
    text-align: center;
    font-size: large;
}
#depositHtml {
    text-align: center;
    color: green;
    font-weight: bold;
    text-decoration: underline dashed red;
    text-underline-offset: 8px;
}

.renderHtml {
    font-size: medium;
}