body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f5fb ;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border: 0px solid green;
}

#container {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: #f8fcfe ;
}

input {
    border: 1px solid white;
    box-sizing: border-box;
    font-size: large;
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
    cursor: grabbing;
}

input:focus {
    background-color: white;
    color: black;
    opacity: 1;
}

input:hover {
    background-color: yellow;
}

.noBorder {
    border: 0px;
    color: darkgreen;
    background-color: transparent;
}

h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: forestgreen;
    background-color: rgb(255, 250, 240) ;
    border-bottom: 0px solid black;
    margin: 0px;
    padding: 2px 0px;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 30px;
    line-height: 30px;

}


table{
    width: 375px;
    background-color: rgb(255, 250, 240) ;
    border: 0px solid green;
    padding: 0px;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

tr {
    border-bottom: 1px solid black;
    padding: 0px;
    height: 30px;
}

th{
    padding: 0px;
    text-align: center;

}

tr:last-child{
    border-bottom: 0px;
}

td {
    border: 0px solid black;
    height: 50px;
    width: 25%;
    text-align: center;
}

.borderSeperator {
    border-bottom: 3px double black;
}

.totalLine {
    text-align: right;
    color: black;
    font-variant: small-caps;
    font-size: x-large;

}

.bankLine{
    /* background-color: rgb(100, 170, 170); */
    text-align: right;
    font-variant: small-caps;
    
}

.loanLine{
    /* background-color: rgb(125, 170, 170); */
    text-align: right;
    font-variant: small-caps;

}

.depositLine {
    color: green;
    font-weight: bold;
    font-size: x-large;
}

.denomination {
    color: black;
    font-size: x-large;
}



.loanSign {
    color: red;
    text-align: right;
}

.alignRight {
    text-align: right;
}

#loanHtml {
    color: red;
    text-align: center;
}



#coinHtml, #rollHtml, #billHtml, #bankHtml {
    text-align: left;
    font-size: large;
    font-weight: bold;
}

#dateHtml {
    background-color: lightgoldenrodyellow;
    color: #101820FF;
    font-variant: small-caps;
    text-align: center;
    font-size: large;
}
#depositHtml {
    text-align: center;
    color: lightblue;
    font-weight: bold;
    font-style: italic;
}

.renderHtml {
    font-size: medium;
}